.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-right: 10%;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  li
{ list-style-type: none;
  margin: 0;
  padding: 0;
} 

p {
  margin: 5px 0 5px 0;
  padding: 0;
}

button
{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 165px;
    margin-left: 0;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding-left: 15px;
}

li
{ list-style-type: none;
  margin: 0;
  padding: 0;
} 

p {
  margin: 0px 0 5px 0;
  padding: 0;
}

h4
{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

