* {
  font-family: 'Montserrat', sans-serif;
  }


  form
  {
    display: flex;
    flex-flow: column wrap;
    border: none;
    max-width: 900px;
    width: 100%;
  }

  div
  {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
  }

  label
  {
    margin-top: 30px;
  }
  
  input {
    height: 5px;
  }

  
  .field {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  li
  { list-style-type: none;
    margin: 0;
    padding: 0;
  } 
  
  p {
    margin: 5px 0 5px 0;
    padding: 0;
  }

  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: transparent;
    padding: 10px;
  }
  
  .no-outline:focus {
    outline: none;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
  }

  .container {
    display: flex;
    /* background-color: #477C80; */
    width: 100%;
    margin: 0;
    border: 1px solid lightgray;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.40);
    background-color: white;
    padding: 10px 50px;
    box-sizing: border-box;

    align-items: center;
  }

  button {
    width: 150px;
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-size: medium;
  }

  .reset
  {
    background: #ff6666;
  }

  .reset:hover
  {
    background:#990000;
  }

  button
  {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }