<div class="container">
<form #f="ngForm" (submit)="submit(f)">

    <div><label for="city"><i class="material-icons md-48">location_city</i>&nbsp;CITY</label>
    <input type="text" id="city" name="city" ngModel></div>

    <div><label for="country"><i class="material-icons md-48">flag</i>&nbsp;COUNTRY</label>
    <input list="country" name="country" ngModel>
    <datalist id="country">
        <option value="Australia"></option>
        <option value="Canada"></option>
        <option value="China"></option>
        <option value="Denmark"></option>
        <option value="Finland"></option>
        <option value="France"></option>
        <option value="Germany"></option>
        <option value="Israel"></option>
        <option value="Japan"></option>
        <option value="Mexico"></option>
        <option value="Portugal"></option>
        <option value="Russia"></option>
        <option value="Singapore"></option>
        <option value="Spain"></option>
        <option value="United Kingdom"></option>
        <option value="USA"></option>
    </datalist></div>

    <div><label for="themes"><i class="material-icons md-48">layers</i>&nbsp;THEMES</label>
    <input list="themes" name="themes" ngModel>
    <datalist id="themes">
        <option value="Health Beyond the Hospital"></option>
        <option value="Robust Future"></option>
        <option value="The Good Life"></option>
    </datalist></div>

    <div class="buttons"><button type="submit"><i class="material-icons md-48">check</i>Submit</button>
    <button type="reset" class="reset"><i class="material-icons md-48">undo</i>Reset</button></div>
    </form>
</div>
