* {
  font-family: 'Montserrat', sans-serif;
  }


  form
  {
    display: flex;
    flex-flow: column wrap;
    border: none;


  }

  div
  {
    display: flex;
    flex-flow: column nowrap;

    margin: 10px 50px;
  }
  


  
  .field {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  
  li
  { list-style-type: none;
    margin: 0;
    padding: 0;
  } 
  
  p {
    margin: 5px 0 5px 0;
    padding: 0;
  }

  input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
  }
  
  .no-outline:focus {
    outline: none;
  }

  input:focus, textarea:focus, select:focus{
    outline: none;
  }

  .container {
    display: flex;
    background-color: #477C80;
    width: 100%;
    margin: 0;
  }

  button {
    width: 150px;
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  