<div class="container">
<form #f="ngForm" (submit)="submit(f)">

    <div><label for="city">CITY</label>
    <input type="text" id="city" name="city" ngModel></div>

    <div><label for="country">COUNTRY</label>
    <input list="country" name="country" ngModel>
    <datalist id="country">
        <option value="Australia"></option>
        <option value="Canada"></option>
        <option value="China"></option>
        <option value="Denmark"></option>
        <option value="Finland"></option>
        <option value="France"></option>
        <option value="Germany"></option>
        <option value="Israel"></option>
        <option value="Japan"></option>
        <option value="Mexico"></option>
        <option value="Portugal"></option>
        <option value="Russia"></option>
        <option value="Singapore"></option>
        <option value="Spain"></option>
        <option value="United Kingdom"></option>
        <option value="USA"></option>
    </datalist></div>

    <div><label for="themes">THEMES</label>
    <input list="themes" name="themes" ngModel>
    <datalist id="themes">
        <option value="Health Beyond the Hospital"></option>
        <option value="Robust Future"></option>
        <option value="The Good Life"></option>
    </datalist></div> -->
    <label for="health">Health Beyond the Hospital</label>
    <input type="checkbox" id="themes" name="health" value="Health Beyond the Hospital" ngModel>
    <label for="future">Robust Future</label>
    <input type="checkbox" id="themes" name="future" value="Robust Future" ngModel>
    <label for="life">The Good Life</label>
    <input type="checkbox" id="themes" name="life" value="The Good Life" ngModel>

    <div class="buttons"><button type="submit"><i class="material-icons md-48">check</i>Submit</button>
    <button type="reset" class="reset"><i class="material-icons md-48">undo</i>Reset</button></div>
</form>
</div>
