<p>project-module works!</p>
<h2>Project "Big Chungus"</h2>
<p>Criteria Indicators Go Here</p>
<h3>Overview/Quick Synopsis</h3>
<ul>
    <li>Startup Name (Startup City) (flag?)</li>
    <li>Project Summary</li>
    <li>Amount Raised $$$</li>
    <li>Engagement Phase</li>
    <li>Engagement Type (Engagement Progress color coded?)</li>
    <li>Amount raised</li>
    <li>Project Lead (person's name)</li>
    <li>Last Update's Date</li>
</ul>

<li *ngFor="let project of projects; index as i">
    <app-edit [selected]="selected" [formStatus]="formStatus"></app-edit>
    <h1 *ngIf="formStatus">{{project.fields["Company Name"]}}</h1> 
    <button (click)="getId([i])"></button>
</li>