<app-filter (filtered)="filter($event)"></app-filter>

<div class="pages">
    <button *ngIf="lastButton" (click)="lastPage()">Last Page</button>
    <button *ngIf="nextButton" (click)="nextPage()">Next Page</button>
</div>
<div class="container">
  <li class="project" *ngFor="let project of projects; index as i">
    <h1>{{project.fields["Company Name"]}}</h1>
    <div class="row">
      <div class="column">
        <div class="field"><p>{{project.fields["City"]}}, {{project.fields["Country"]}}</p></div>
        <div class="field"><p>{{project.fields["Two Line Company Summary"]}}</p></div>
      <div class="review-date field">   
        <h4>Review Date:</h4>
        <p>{{project.fields["Review Date"]}}</p>
      </div>
      <div class="scout field">
        <h4>Scout:</h4>
        <p>{{project.fields["Scout"]}}</p>
      </div> 
    <!-- <a href="{{project.fields["Company Website"]}}"></a>
    Fix to display Company Website as URL -->
      
    <div class="alignment field">
      <h4>Alignment:</h4>
      <p>{{project.fields["Alignment"]}}</p>
    </div>
    <div class="themes field">
      <h4>Themes:</h4>
      <p>{{project.fields["Theme(s)"]}}</p>
    </div>
    </div>
    <div class="column">
      <div class="uniqueness field"> 
        <h4>Uniqueness:</h4>
        <p>{{project.fields["Uniqueness"]}}/5</p> 
      </div>
      <div class="team field">
        <h4>Team:</h4>
        <p>{{project.fields["Team"]}}</p>
      </div>
      <div class="raised field"> 
        <h4>Capital Raised:</h4>
        <p>${{project.fields["Raised"]}}</p>
      </div>
     </div>
    </div>
    <app-project-detail></app-project-detail>
  </li>
</div>