* {
  font-family: 'Montserrat', sans-serif;
}

.pages
{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.pages
{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;

}

.startup {
  display: flex;
  align-content: center;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 15px;
  box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.40);
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 0;
}

li
{ list-style-type: none;
  margin: 0;
  padding: 0;
} 

p, h4{
  margin: 0;
  padding: 0;
}

/* test for two-column view */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;

  width: 48%;
}

.pages
{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;

}

.startup {
  display: flex;
  align-content: center;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 20px;
  margin: 15px;
  box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.40);
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 0;
}

li
{ list-style-type: none;
  margin: 0;
  padding: 0;
} 

p, h4{
  margin: 0;
  padding: 0;
}

/* test for two-column view */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;

  width: 48%;
}