* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #ccff99;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

li
{ list-style-type: none;
  margin: 0;
  padding: 0;
} 

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:visited
{
  color: black;
}

.logo {
  padding: 10px;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 10px;
  text-decoration: none;
  background: #8cc24a;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10px;
  box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.5);
}

button:hover,
button:focus {
  background: #436020;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.40);

}


button:active {
  transform: scale(0.99);
}

footer {
  display: flex;
  align-content: center;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.40);
  padding: 10px;
}